.tabs {
    display: flex;
    gap: 2px;
    width: 100%;
}

.tabs__item {
    width: 50%;
    height: 40px;
    border: 1px solid rgb(163, 193, 248);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: cornflowerblue;
    font-weight: bold;
}

.tabs__item:hover {
    cursor: pointer;
    background-color: rgb(163, 193, 248);
    color: white;
    box-shadow: 1px 2px 10px rgb(163, 193, 248);
}

.active {
    background-color: cornflowerblue;
    color: white;
    box-shadow: 1px 2px 10px cornflowerblue;
}